html {
    font-family: 'Nunito', sans-serif;
}
.navbar {
    opacity: 0.9;
    background: transparent; 
    position: absolute;
    z-index:1;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
}

.navbar a:hover{
    color: rgba(255, 255, 255);
    text-decoration: none;
}

.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; 
}

.btn-primary{
    background-color: #f4623a !important;
    border-color: #f4623a !important;
    color: #fff;
}

.btn-primary:hover{
    background-color: #f24516 !important;
    border-color: #f24516 !important;
    color: #fff;
}

.navbar .btn-outline-secondary{
    background-color: transparent !important;
    border-color: rgba(114, 114, 114, 1) !important;
    color: rgba(114, 114, 114, 1) !important;
}

.navbar .btn-outline-secondary:hover{
    background-color: transparent !important;
    border-color: rgba(114, 114, 114, 0.5) !important;
    color: rgba(114, 114, 114, 0.5) !important;
}

._link{
    color: #f4623a;
}

._link:hover{
    color: #f24516;
    text-decoration: none;
}

.bg-gray{
    background-color: rgba(247, 248, 250, 1);
}
.line{
    height: 1px;
    background-color: rgba(50, 50, 55, 0.3);
    /*border-bottom: 1px solid rgba(50, 50, 55, 0.6)*/
    box-shadow: 0 1px 5px rgba(50, 50, 55, 0.2);
}
.errorMessage{
	color: rgb(236, 82, 82);
}
.hiddedElement{
    position:fixed;
    opacity:0;
}